# This file contains common pin mappings for the Biqu B1 SE Plus.
# To use this config, the firmware should be compiled for the
# STM32F407 with a "32KiB bootloader".

# In newer versions of this board shipped in late 2021 the STM32F429
# is used, if this is the case compile for this with a "32KiB bootloader"
# You will need to check the chip on your board to identify which you have.
#
# The "make flash" command does not work on the SKR 2. Instead,
# after running "make", copy the generated "out/klipper.bin" file to a
# file named "firmware.bin" on an SD card and then restart the SKR 2
# with that SD card.

# See docs/Config_Reference.md for a description of parameters.
[mcu]
serial: /dev/ttyS0
restart_method: command

[static_digital_output stepper_config]
pins:
    PF7, PF8,
    PF9, !PE2,
    !PI11, !PC1,
    !PA4, !PC4,
    PC5

[stepper_x]
step_pin: PB7
dir_pin: !PB6
enable_pin: !PG14
microsteps: 16
rotation_distance: 40
endstop_pin: ^!PA7
position_endstop: -60.5
position_min: -75
position_max: 200
homing_speed: 50
step_pulse_duration:0.000002

[dual_carriage]
axis: x
step_pin: PH3
dir_pin: PH4
enable_pin: !PH5
microsteps: 16
rotation_distance: 40
endstop_pin: ^!PH2
position_endstop: 262
position_min: -75
position_max: 300
# Equal carriage minima auto-detect a zero clearance, so declare the physical
# separation explicitly to prevent COPY/MIRROR carriage collisions.
safe_distance: 40
homing_speed: 50
step_pulse_duration:0.000002

[stepper_y]
step_pin: PB12
dir_pin: !PB10
enable_pin: !PD7
microsteps: 16
rotation_distance: 40
endstop_pin: ^!PB13
position_endstop: -5
position_min: -10
position_max: 280
homing_speed: 50
step_pulse_duration:0.000002

[stepper_z]
step_pin: PG13
dir_pin: !PE6
enable_pin: !PC7
microsteps: 16
rotation_distance: 2
endstop_pin: ^!PC14
homing_speed: 5
#position_endstop: 3.15
position_min: -50
position_max: 220
step_pulse_duration:0.000002

[stepper_z1]
step_pin: PC11
dir_pin: !PC10
enable_pin: !PD2
microsteps: 16
rotation_distance: 2
endstop_pin: ^!PE4
step_pulse_duration:0.000002

[extruder]
step_pin: PD6
dir_pin: !PH8
enable_pin: !PG12
microsteps: 16
rotation_distance: 34.5152 # Calibrar - ver https://www.klipper3d.org/Rotation_Distance.html
nozzle_diameter: 0.400
filament_diameter: 1.750
pressure_advance: 0.058050
pressure_advance_smooth_time: 0.040
max_extrude_cross_section: 50.0
heater_pin: PA1
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PA3 #thermistor pin
#control: pid
#pid_kp = 34.822
#pid_ki = 2.019
#pid_kd = 150.170
min_temp: 0
max_temp: 300
step_pulse_duration:0.000002

[verify_heater extruder]
check_gain_time: 36000
hysteresis: 20

[extruder1]
step_pin: PD3
dir_pin: PB4
enable_pin: !PG10
microsteps: 16
rotation_distance: 34.5152
nozzle_diameter: 0.400
filament_diameter: 1.750
pressure_advance: 0.058050
pressure_advance_smooth_time: 0.040
max_extrude_cross_section: 50.0
sensor_type: EPCOS 100K B57560G104F
heater_pin: PA2
sensor_pin: PA0
control: pid
#max_power: 0.8
pid_kp = 34.822
pid_ki = 2.019
pid_kd = 150.170
min_temp: 0
max_temp: 300
min_extrude_temp: 10
max_extrude_only_distance: 200
max_extrude_cross_section: 4

[verify_heater extruder1]
check_gain_time: 36000
hysteresis: 20

[heater_bed]
heater_pin: PE5
sensor_type: Generic 3950
sensor_pin: PA6
control: pid
pid_Kp: 54
pid_Ki: 0.77
pid_Kd: 900
min_temp: 0
max_temp: 110

[printer]
kinematics: cartesian
max_velocity: 500
max_accel: 5000
max_accel_to_decel: 5000
max_z_velocity: 5
max_z_accel: 100
square_corner_velocity: 5

[probe]
pin: !PC15
x_offset: 0
y_offset: 0
#z_offset: 0
#e_x_offset: 0
#e_y_offset: 0
#e_z_offset: 0
speed: 3.0

[bed_mesh]
speed: 400
horizontal_move_z: 30
mesh_min: 60, 50
mesh_max: 300, 280
probe_count: 4, 4
#mesh_pps: 2,2
#algorithm: bicubic
#bicubic_tension: 0.2

#[idle_timeout]
#timeout: 36000

[heater_fan Motor_fan]
pin: PA8
max_power: 1.0
kick_start_time: 0.100
heater: extruder,extruder1

[fan_generic E2_Nozzle_fan]
pin: PA15
max_power: 1.0
kick_start_time: 0.100

[fan_generic E1_Nozzle_fan]
pin: PB3
max_power: 1.0
kick_start_time: 0.100

[heater_fan Board_fan]
pin: PF6
max_power: 1.0
kick_start_time: 0.100
heater: extruder,extruder1

[heater_fan Cooling_fan]
pin: PD13
max_power: 1.0
kick_start_time: 0.100
heater: extruder,extruder1

[save_variables]
filename:~/klipper_config/PowerOffData.cfg

[gcode_macro SAVE_LOCATION]
gcode:
    {% set filename = printer.print_stats.filename|string %}
    {% set x1 = printer.toolhead.position.x|float %}
    {% set y1 = printer.toolhead.position.y|float %}
    {% set z1 = printer.toolhead.position.z|float %}
    {% set byte = printer.virtual_sdcard.file_position %}
    SAVE_VARIABLE VARIABLE=x VALUE={x1}
    SAVE_VARIABLE VARIABLE=y VALUE={y1}
    SAVE_VARIABLE VARIABLE=z VALUE={z1}
    SAVE_VARIABLE VARIABLE=byte VALUE={byte}

[output_pin motor_power]
pin: PC13
value: 1

[virtual_sdcard]
path: ~/gcode_files

[gcode_arcs]
resolution: 1.0

[respond]

[gcode_macro UNLOAD_FILAMENT]
gcode:
    M83
    G1 E10 F300
    G1 E-50 F800
    M82

[gcode_macro LOAD_FILAMENT]
gcode:
    M83
    G1 E30 F300
    G1 E20 F200
    G1 E15 F150
    M82

[gcode_macro PARK_extruder]
gcode:
    {% set x_move_min = printer.configfile.config.stepper_x.position_endstop|float + 0.5 %}
    SAVE_GCODE_STATE NAME=park0
    G90
    G1 X{x_move_min|float}
#    G1 X-70
    RESTORE_GCODE_STATE NAME=park0

# Core homing ends on carriage 0.  Synchronize the logical tool and independent
# extrusion queues without invoking T0's park sequence from inside G28.
[gcode_macro _IDEX_SELECT_T0_AFTER_HOME]
gcode:
    SYNC_EXTRUDER_MOTION EXTRUDER=extruder MOTION_QUEUE=extruder
    SYNC_EXTRUDER_MOTION EXTRUDER=extruder1 MOTION_QUEUE=extruder1
    SET_DUAL_CARRIAGE CARRIAGE=0 MODE=PRIMARY
    ACTIVATE_EXTRUDER EXTRUDER=extruder

[homing_override]
axes: x
gcode:
    {% set restore_relative = not printer.gcode_move.absolute_coordinates %}
    G28 {rawparams}
    _IDEX_SELECT_T0_AFTER_HOME
    {% if restore_relative %}G91{% endif %}

# Activate the primary extruder
[gcode_macro T0]
gcode:
    # COPY/MIRROR binds E1 to E0; single-tool mode needs independent queues.
    SYNC_EXTRUDER_MOTION EXTRUDER=extruder MOTION_QUEUE=extruder
    SYNC_EXTRUDER_MOTION EXTRUDER=extruder1 MOTION_QUEUE=extruder1
    PARK_{printer.toolhead.extruder}
    ACTIVATE_EXTRUDER EXTRUDER=extruder
    SET_DUAL_CARRIAGE CARRIAGE=0

[gcode_macro PARK_extruder1]
gcode:
    {% set x_move_max = printer.configfile.config.dual_carriage.position_endstop|float - printer.configfile.config.probe.e_x_offset|float - 2 %}
    SAVE_GCODE_STATE NAME=park1
    G90
    G1 X{x_move_max|float}
#    G1 X320
    RESTORE_GCODE_STATE NAME=park1

[gcode_macro T1]
gcode:
    # COPY/MIRROR binds E1 to E0; single-tool mode needs independent queues.
    SYNC_EXTRUDER_MOTION EXTRUDER=extruder MOTION_QUEUE=extruder
    SYNC_EXTRUDER_MOTION EXTRUDER=extruder1 MOTION_QUEUE=extruder1
    PARK_{printer.toolhead.extruder}
    ACTIVATE_EXTRUDER EXTRUDER=extruder1
    SET_DUAL_CARRIAGE CARRIAGE=1
#    SET_GCODE_EOFFSET X=-2
#    SET_GCODE_EOFFSET Y=1.2

[gcode_macro M106]
gcode:
    {% set raw_speed = params.S|default(0)|float %}
    {% set fan_speed = (raw_speed / 255.0)|round(2) %}
    {% if printer['extruder'].target > 0 %}
        SET_FAN_SPEED FAN=E1_Nozzle_fan SPEED={fan_speed}
#    {% elif printer['extruder1'].target > 0 %}
#        SET_FAN_SPEED FAN=E2_Nozzle_fan SPEED={fan_speed}
    {% endif %}

[gcode_macro M107]
gcode:
    M106 S0

[gcode_macro TEST_RESONANCES_X]
gcode:
    SET_INPUT_SHAPER SHAPER_FREQ_X=0
    G28
    G1 Z25
    SHAPER_CALIBRATE AXIS=X

[gcode_macro TEST_RESONANCES_Y]
gcode:
    SET_INPUT_SHAPER SHAPER_FREQ_Y=0
    G28
    G1 Z25
    SHAPER_CALIBRATE AXIS=Y

[pause_resume]
	
[gcode_macro CANCEL_PRINT]
rename_existing: BASE_CANCEL_PRINT
gcode:
    PAUSE
    SDCARD_RESET_FILE
    CLEAR_PAUSE
    G1 X0 Y0
    M84
    M106 S0
    TURN_OFF_HEATERS

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	8.492500, 8.655000, 8.753125, 8.914375
#*# 	8.344375, 8.273125, 8.436875, 8.771250
#*# 	7.968750, 8.370000, 8.350625, 8.579375
#*# 	7.285625, 7.420625, 8.089375, 8.565625
#*# x_count = 4
#*# y_count = 4
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 60.0
#*# max_x = 300.0
#*# min_y = 50.0
#*# max_y = 279.97
#*#
#*# [probe]
#*# e_x_offset = -2.000
#*# e_y_offset = 0.050
#*# e_z_offset = 0.250
#*# z_offset = 0.350
#*#
#*# [stepper_z]
#*# position_endstop = 9.0
#*#
#*# [input_shaper]
#*# shaper_type_x = mzv
#*# shaper_freq_x = 45.0
#*# shaper_type_y = 2hump_ei
#*# shaper_freq_y = 39.0
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 34.221
#*# pid_ki = 1.641
#*# pid_kd = 178.379
